.idea
.venv
.vscode
__pycache__
build
data
gen
managed_components
models
temp
dependencies.lock
sdkconfig
model.c
model.h
test_case.h
.DS_Store
.cache/
sdkconfig.old

# Local report and course material files.
*.pdf
report/
