# 忽略所有内容，除了 face 目录
/*
!face/

# 但 face 目录下的 .DS_Store 等常见无用文件依然忽略
face/.DS_Store
face/*.log
face/*.tmp
face/data/person_a/
face/data/person_b/
face/data/person_c/
face/data/unknown/
face/python/gen/
